include ./views/templates/_template.pug

p(class="logo") logo
p(class="meme") meme



img(src=require('./assets/images/image.png'), alt="picture", width="200")
  
 

script(src="bundle.js")
script(src="index.js")