html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Avito"
  body
    div#root 

    p(class="logo") logo
    p(class="meme") meme



    img(src=require('./assets/images/1111.png'), alt="picture")
    img(src=require('./assets/images/image.png'), alt="picture")
  
 

    script(src="bundle.js")
    script(src="index.js")